# EditorConfig to support per-solution formatting.
# Use the EditorConfig VS add-in to make this work.
# http://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true

[*.{cs}]
indent_style = space
indent_size = 4

[*.{sln,proj,csproj,props,targets,xml,config,yml}]
indent_style = space
indent_size = 2