@{
    ViewData["Title"] = "Feature Constrained Fallback Action";
}
<h1>@ViewData["Title"]</h1>

<p>This page is only visible if the features required for the FeatureConstrained action are disabled.</p>